/*Power ranking: id> class> element (mode: class)*/

h1{
	color: #3d3590;
}

.head1{
	background-color: #3cb371;
}

.border{
	border: 10px solid purple;
}

#h1{
	font-size: 50px;
}

#h2{
	font-size: 50px;
}